<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Disabled</key>
    <false/>
    <key>Label</key>
    <string>com.rassohilber.work-mail</string>
    <key>ProgramArguments</key>
    <array>
      <string>osascript</string>
      <string>/usr/local/lib/work-mail.applescript</string>
    </array>
    <key>StandardErrorPath</key>
    <string>/tmp/work-mail-err</string>
    <key>RunAtLoad</key>
    <true/>
    <!-- Run once every 5 mintues -->
    <key>StartCalendarInterval</key>
    <integer>300</integer>
  </dict>
</plist>
